In [1]:
import pandas as pd
from linearmodels.iv import IVGMM
from statsmodels.api import add_constant

## Model 1: All

In [2]:
# all
df = pd.read_csv('source/csad-bonds.csv')

# # add constant
df = add_constant(df, has_constant='add')
df = df.sort_values(by='Date').reset_index(drop=True)
df['index'] = df.index

df.head()

   const        Date        Rm  AbsoluteRm     SquaredRm      Csad  index
0    1.0  2002-08-31  0.021615    0.021615  4.671990e-04  0.019632      0
1    1.0  2002-09-30  0.008123    0.008123  6.598464e-05  0.002849      1
2    1.0  2002-10-31 -0.000005    0.000005  3.012884e-11  0.000147      2
3    1.0  2002-11-30  0.031713    0.031713  1.005708e-03  0.026022      3
4    1.0  2002-12-31  0.025259    0.025259  6.380362e-04  0.007882      4

In [3]:
res_ols_v1 = IVGMM(
    df.Csad, df[
        ['Rm', 'AbsoluteRm', 'SquaredRm', 'index', 'const']
    ], None, None
).fit(cov_type='unadjusted')

print(res_ols_v1)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                   Csad   R-squared:                      0.7238
Estimator:                     IV-GMM   Adj. R-squared:                 0.7192
No. Observations:                 242   F-statistic:                    634.26
Date:                Mon, Sep 18 2023   P-value (F-stat)                0.0000
Time:                        13:37:12   Distribution:                  chi2(4)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Rm            -0.0237     0.0173    -1.3714     0.1703     -0.0576      0.0102
AbsoluteRm     0.7166     0.0546     13.121     0.0000      0.6095      0.8236
SquaredRm     -3.2675     0.9632    -3.3922     0.0007     -5.1554     -1.3796
index       1.276e-05   3.81e-06     3.3499     0.0008   5.295e-06   2.023e-05
const         -0.0014     0.0007    -2.1469     0.0318     -0.0027     -0.0001
==============================================================================

### Model 2: Institutional

In [4]:
# institutional
df = pd.read_csv('source/csad-bonds-institutional.csv')

# # add constant
df = add_constant(df, has_constant='add')
df = df.sort_values(by='Date').reset_index(drop=True)
df['index'] = df.index

df.head()

   const        Date        Rm  AbsoluteRm  SquaredRm      Csad  index
0    1.0  2002-08-31  0.016122    0.016122   0.000260  0.018917      0
1    1.0  2002-09-30  0.005786    0.005786   0.000033  0.001010      1
2    1.0  2002-10-31  0.001017    0.001017   0.000001  0.000554      2
3    1.0  2002-11-30  0.023396    0.023396   0.000547  0.014278      3
4    1.0  2002-12-31  0.015255    0.015255   0.000233  0.003141      4

In [5]:
res_ols_v2 = IVGMM(
    df.Csad, df[
        ['Rm', 'AbsoluteRm', 'SquaredRm', 'index', 'const']
    ], None, None
).fit(cov_type='unadjusted')

print(res_ols_v2)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                   Csad   R-squared:                      0.7646
Estimator:                     IV-GMM   Adj. R-squared:                 0.7606
No. Observations:                 242   F-statistic:                    785.82
Date:                Mon, Sep 18 2023   P-value (F-stat)                0.0000
Time:                        13:37:12   Distribution:                  chi2(4)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Rm            -0.0255     0.0135    -1.8873     0.0591     -0.0520      0.0010
AbsoluteRm     0.5888     0.0416     14.145     0.0000      0.5072      0.6704
SquaredRm     -3.1185     0.8982    -3.4718     0.0005     -4.8790     -1.3580
index         1.1e-05  2.325e-06     4.7308     0.0000   6.443e-06   1.556e-05
const         -0.0018     0.0004    -4.4496     0.0000     -0.0026     -0.0010
==============================================================================

### Model 3: Retail

In [6]:
# retail
df = pd.read_csv('source/csad-bonds-retail.csv')

# # add constant
df = add_constant(df, has_constant='add')
df = df.sort_values(by='Date').reset_index(drop=True)
df['index'] = df.index

df.head()

   const        Date        Rm  AbsoluteRm  SquaredRm      Csad  index
0    1.0  2002-08-31  0.020766    0.020766   0.000431  0.016758      0
1    1.0  2002-09-30  0.006061    0.006061   0.000037  0.003747      1
2    1.0  2002-10-31 -0.010023    0.010023   0.000100  0.000674      2
3    1.0  2002-11-30  0.034267    0.034267   0.001174  0.025077      3
4    1.0  2002-12-31  0.017352    0.017352   0.000301  0.007032      4

In [7]:
res_ols_v3 = IVGMM(
    df.Csad, df[
        ['Rm', 'AbsoluteRm', 'SquaredRm', 'index', 'const']
    ], None, None
).fit(cov_type='unadjusted')

print(res_ols_v3)

                          IV-GMM Estimation Summary
==============================================================================
Dep. Variable:                   Csad   R-squared:                      0.8033
Estimator:                     IV-GMM   Adj. R-squared:                 0.8000
No. Observations:                 242   F-statistic:                    988.59
Date:                Mon, Sep 18 2023   P-value (F-stat)                0.0000
Time:                        13:37:22   Distribution:                  chi2(4)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Rm            -0.0545     0.0157    -3.4703     0.0005     -0.0852     -0.0237
AbsoluteRm     0.6664     0.0216     30.848     0.0000      0.6240      0.7087
SquaredRm     -0.5028     0.0202    -24.946     0.0000     -0.5423     -0.4633
index        1.25e-05  2.862e-06     4.3679     0.0000   6.892e-06   1.811e-05
const         -0.0013     0.0004    -2.9917     0.0028     -0.0022     -0.0005
==============================================================================