In [2]:
import os
import pandas as pd
import sqlalchemy as db
from dotenv import load_dotenv

In [3]:
load_dotenv()

# config and credentials
server = os.getenv('server')
database = os.getenv('database')
username = os.getenv('username')
password = os.getenv('password')

# connection
engine = db.create_engine(
    'mssql://{}:{}@{}/{}?driver=ODBC+Driver+18+for+SQL+Server'.format(
        username, password, server, database
    )
)

# establish connection
connection = engine.connect()

In [14]:
query = '''
    SELECT
        *
    FROM 
        BondFractions
'''

# df = pd.read_sql(query, connection)
# df.to_csv('data/output/fractions.csv', index=False)
df = pd.read_csv('data/output/fractions.csv')

In [15]:
df['TrdExctnDt'] = pd.to_datetime(df['TrdExctnDt'])
df.head()

     CusipId TrdExctnDt  StdRetailFraction  StdInstitunionalFraction
0  202795FR6 2002-07-05          -0.373145                  0.879606
1  345397RS4 2002-07-05           0.423643                 -1.339985
2  001546AC4 2002-07-05          -0.373145                 -1.339985
3  191216AJ9 2002-07-05          -0.373145                  0.879606
4  87612EAJ5 2002-07-05           1.283782                  0.879606

In [16]:
df = df.sort_values(['CusipId', 'TrdExctnDt'])

In [25]:
df = df.set_index('CusipId')

In [26]:
df_shift = df.groupby(level='CusipId')[['StdRetailFraction', 'StdInstitunionalFraction']].shift(-1)

In [ ]:
sonqo = df.join(df_shift.rename(columns=lambda x: x+"_lag"))

In [ ]:
sonqo